src/main/mule/my-lookup-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="11c3bce8-8dfd-48e8-bae7-40c3663209e2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="c71c854e-2f3f-40d8-b7ff-5e936e93f748" >
		<vm:queues >
			<vm:queue queueName="VM1" queueType="PERSISTENT" />
			<vm:queue queueName="VM2" />
		</vm:queues>
	</vm:config>
	<flow name="my-lookup-appFlow" doc:id="8587973f-a531-4d91-aabf-e0b321a2b108" >
		<http:listener doc:name="Listener" doc:id="bf895fa7-acc8-4859-8897-9b847b982ce2" config-ref="HTTP_Listener_config" path="lookup"/>
		<set-payload value='#["10"]' doc:name="Set Payload" doc:id="c0066d4c-8276-454f-ae64-f2ebcd53941e" />
		<ee:transform doc:name="Transform Message" doc:id="cd6e9586-939d-4fa5-b484-4bf00aab2572" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
attributes]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
